<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dao.IEssayCategoryDao">

    <insert id="saveEssayCategoryDao">
        INSERT INTO ebcategory_essay VALUES (NULL, #{category_essay_type})
    </insert>

    <select id="findAllEssayCategory" resultMap="essayCategoryMap">
        SELECT * FROM ebcategory_essay
    </select>

    <select id="findHotEssayCategory" resultMap="essayCategoryMap">
        SELECT * FROM ebcategory_essay ORDER BY category_essay_attention DESC, category_essay_number DESC LIMIT 0,10
    </select>

    <resultMap id="essayCategoryMap" type="EssayCategory">
        <result property="category_essay_id" column="category_essay_id"/>
        <result property="category_essay_type" column="category_essay_type"/>
        <result property="category_essay_describe" column="category_essay_describe"/>
        <result property="category_essay_picture" column="category_essay_picture"/>
        <result property="category_essay_user_id" column="category_essay_user_id"/>
        <result property="category_essay_attention" column="category_essay_attention"/>
        <result property="category_essay_number" column="category_essay_number"/>
    </resultMap>
</mapper>