<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dao.IEssayDao">

    <insert id="save" parameterType="com.xupt.bean.Essay" useGeneratedKeys="true" keyProperty="essay_id">
        insert into ebessay (essay_title, essay_user_id, essay_content_path, essay_pubDate,
                            essay_subject_id, essay_anthology_id, essay_photo)
                            VALUES (#{essay_title}, #{essay_user_id}, #{essay_content_path}, #{essay_pubDate},
                            #{essay_subject_id}, #{essay_anthology_id}, #{essay_photo})
    </insert>
    
    <resultMap id="essayResultMap" type="com.xupt.bean.Essay">
        <result column="essay_id" property="essay_id"/>
        <result column="essay_title" property="essay_title"/>
        <result column="essay_user_id" property="essay_user_id"/>
        <result column="essay_content_path" property="essay_content_path"/>
        <result column="essay_pubDate" property="essay_pubDate"/>
        <result column="essay_visits" property="essay_visits"/>
        <result column="essay_thumb" property="essay_thumb"/>
        <result property="essay_subject_id" column="essay_subject_id"/>
        <result property="essay_anthology_id" column="essay_anthology_id"/>
        <result property="essay_comment_number" column="essay_comment_number"/>
        <result property="essay_photo" column="essay_photo"/>
    </resultMap>

    <select id="findAll" resultMap="essayResultMap">
        select * from ebessay
    </select>

    <select id="findEssayByEssayId" resultMap="essayResultMap" parameterType="java.lang.Integer">
        select * from ebessay where essay_id = #{essay_id}
    </select>

    <select id="findEssayByEssaySubject" parameterType="Integer" resultMap="essayResultMap">
        SELECT * FROM ebessay WHERE essay_category_id = #{essayCategory}
    </select>

    <select id="findHotEssayWeek" resultMap="essayResultMap">
        SELECT * FROM ebessay WHERE essay_pubdate > DATE_SUB(CURDATE(), INTERVAL 1 WEEK) ORDER BY essay_visits DESC
    </select>

    <select id="findHotEssayMonth" resultMap="essayResultMap">
        SELECT * FROM ebessay WHERE essay_pubdate > DATE_SUB(CURDATE(), INTERVAL 1 MONTH) ORDER BY essay_visits DESC
    </select>

    <select id="findEssayByUserId" resultMap="essayResultMap" parameterType="Integer">
        SELECT * FROM ebessay WHERE essay_user_id = #{userId}
    </select>

    <resultMap id="homePageEssayMap" type="HomePageEssay">
        <result column="user_id" property="user_id"/>
        <result column="essay_id" property="essay_id"/>
        <result column="essay_subject_id" property="essay_subject_id"/>
        <result column="essay_subject_type" property="essay_subject_type"/>
        <result column="user_name" property="user_name"/>
        <result column="user_head_icon_path" property="user_head_icon_path"/>
        <result column="essay_pubDate" property="essay_pubDate"/>
        <result column="essay_title" property="essay_title"/>
        <result column="essay_content_path" property="essay_content_path"/>
        <result column="essay_visits" property="essay_visits"/>
        <result column="essay_thumb" property="essay_thumb"/>
        <result column="essay_comment_number" property="essay_comment_number"/>
    </resultMap>

    <select id="findEssayHomePage" resultMap="homePageEssayMap">
        SELECT
            user_id,
            essay_id,
            ebessay.essay_subject_id,
            essay_subject_type,
            user_name,
            user_head_icon_path,
            essay_pubDate,
            essay_title,
            essay_content_path,
            essay_visits,
            essay_thumb,
            essay_comment_number
        FROM
            ebessay,
            ebuser,
            ebessay_subject
        WHERE
            essay_user_id = user_id
        AND ebessay.essay_subject_id = ebessay_subject.essay_subject_id
        AND essay_pubDate > DATE_SUB(CURDATE(), INTERVAL 2 DAY)
        ORDER BY
            essay_visits DESC
    </select>

    <select id="findUserAnthologyEssayInfo" resultMap="essayResultMap" parameterType="Integer">
        SELECT essay_id, essay_title FROM ebessay WHERE essay_anthology_id = #{essay_anthology_id}
    </select>

    <select id="findWheelPhoto" resultMap="essayResultMap">
        SELECT essay_title, essay_content_path, essay_id FROM ebessay WHERE essay_photo = 1 ORDER BY essay_visits DESC LIMIT 0,6
    </select>

    <delete id="deleteEssayById" parameterType="java.lang.Integer">
        delete from ebessay where essay_id = #{essay_id}
    </delete>

    <update id="updateEssay" parameterType="com.xupt.bean.Essay">
        update ebessay SET essay_title = #{essay_title},
                            essay_user_id = #{essay_user_id},
                            essay_content_path = #{essay_content_path},
                            essay_pubDate = #{essay_pubDate},
                            essay_visits = #{essay_visits},
                            essay_thumb = #{essay_thumb},
                            essay_subject_id = #{essay_subject_id},
                            essay_anthology_id = #{essay_anthology_id},
                            essay_photo = #{essay_photo}
                            where essay_id = #{essay_id}
    </update>

    <update id="updateEssayVisits">
        UPDATE ebessay SET essay_visits = #{essay_visits} WHERE essay_id = #{essay_id}
    </update>
    
    <update id="updateEssayThumb">
        UPDATE ebessay SET essay_thumb = #{essay_thumb} WHERE essay_id = #{essay_id}
    </update>
    
</mapper>