<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dao.IMessageDao">

    <insert id="saveMessage">
        INSERT INTO ${messageTable} VALUES (NULL, #{message.message_date}, #{message.message_from_user_id}, #{message.message_to_user_id}, #{message.message_type_id},
                                    #{message.message_status}, #{message.message_content})
    </insert>

    <resultMap id="messageResultMap" type="com.xupt.bean.Message">
        <result column="message_id" property="message_id"/>
        <result column="message_date" property="message_date"/>
        <result column="message_from_user_id" property="message_from_user_id"/>
        <result column="message_to_user_id" property="message_to_user_id"/>
        <result property="message_type_id" column="message_type_id"/>
        <result property="message_status" column="message_status"/>
        <result property="message_content" column="message_content"/>
    </resultMap>

    <select id="findMessageBySendUserId" resultMap="messageResultMap">
        SELECT * FROM ${messageTable} WHERE message_from_user_id = #{message_from_user_id}
    </select>

    <select id="findMessageNotSend" resultMap="messageResultMap">
        SELECT * FROM ${messageTable} WHERE message_status = #{message_status} AND message_to_user_id = #{message_to_user_id}
    </select>

    <delete id="deleteMessageById">
        DELETE FROM ${messageTable} WHERE message_id = #{message_id}
    </delete>

    <update id="updateMessageStatus">
        UPDATE ${messageTable} SET message_status = #{message_status} WHERE message_id = #{message_id}
    </update>

</mapper>