<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dao.IUserDao">

    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO ebuser (user_phone, user_name, user_email, user_password, user_head_icon_path, user_sex, user_description, user_age)
                    VALUES (#{user_phone}, #{user_name}, #{user_email}, #{user_password}, #{user_head_icon_path},
                                   #{user_sex}, #{user_description}, #{user_age})
    </insert>

    <select id="findAll" resultMap="userResultMap">
        SELECT * FROM ebuser
    </select>

    <select id="findUserById" parameterType="integer" resultMap="userResultMap">
        SELECT * FROM ebuser WHERE user_id = #{userId}
    </select>

    <select id="findUserByPhone" parameterType="string" resultMap="userResultMap">
        SELECT * FROM ebuser WHERE user_phone = #{phone}
    </select>

    <select id="findUserByName" parameterType="string" resultMap="userResultMap">
        SELECT * FROM ebuser WHERE user_name = #{name}
    </select>

    <select id="findUserByEmail" parameterType="string" resultMap="userResultMap">
        SELECT * FROM ebuser WHERE user_email = #{email}
    </select>

    <select id="findHotUser" resultMap="userResultMap">
        SELECT * FROM ebuser ORDER BY user_essay_thumb DESC, user_essay_number DESC
    </select>

    <resultMap id="userResultMap" type="User">
        <result column="user_id" property="user_id"/>
        <result column="user_email" property="user_email"/>
        <result column="user_fans" property="user_fans"/>
        <result column="user_name" property="user_name"/>
        <result column="user_password" property="user_password"/>
        <result column="user_phone" property="user_phone"/>
        <result column="user_essay_thumb" property="user_essay_thumb"/>
        <result property="user_head_icon_path" column="user_head_icon_path"/>
        <result property="user_sex" column="user_sex"/>
        <result property="user_description" column="user_description"/>
        <result property="user_age" column="user_age"/>
        <result property="user_essay_number" column="user_essay_number"/>
    </resultMap>

    <update id="updateUserInfo" parameterType="User">
        UPDATE ebuser SET user_email = #{user_email},
                          user_name = #{user_name},
                          user_phone = #{user_phone},
                          user_password = #{user_password},
                          user_head_icon_path = #{user_head_icon_path},
                          user_sex = #{user_sex},
                          user_description = #{user_description},
                          user_age = #{user_age}
                      WHERE user_id = #{user_id}
    </update>

    <update id="updateUserThumb" parameterType="Integer">
        UPDATE ebuser SET user_essay_thumb = #{thumbNum} WhERE user_id = #{userId}
    </update>

</mapper>