*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
nav{
	position: fixed;
	height: 60px;
	width: 94%;
	margin: 0% 3%;
	border-bottom: #CCCCCC solid 1px;
	min-width: 900px;
	z-index: 101;
	background-color: #FFFFFF;
}
nav>.left{
	display: inline-block;
}

nav>.center{
	display: inline-block;
	margin-left: 100px;
}
nav>.center>ul>li{
	list-style: none;
	float: left;
}
nav>.center>ul>li>a{
	display: inline-block;
	height: 60px;
	font-family: "仿宋";
	font-size: 25px;
	font-weight: 700;
	margin-right: 20px;
	line-height: 60px;
	color: #555555;
}
nav>.center>ul>li>.active{
	color: #EC6149;
}
nav>.center>ul>li>.find{
	/*height: 60px;
	width: 250px;
	line-height: 60px;*/
}
nav>.center>ul>li>.find>input{
	height: 30px;
	width: 200px;
	outline: none;
	border: 0px;
	background-color: #EEEEEE;
	border-radius: 10px;
    padding: 0px 15px;
    padding-right: 35px;
    margin-top: 15px;
}
nav>.center>ul>li>.find>a{
	position: absolute;
	top: 20px;
	margin-left: 220px;
}
nav>.center>ul>li>.find>a>img{
    height: 20px;
    width: 20px;
}

nav>.right{
	position: absolute;
	height: 60px;
	top: 0px;
	right: 0px;
}
nav>.right>ul>li{
	list-style: none;
	float: left;
	line-height: 60px;
}
nav>.right>ul>li>.write{
	display: inline-block;
	width: 100px;
	height: 40px;
	background-color: #EC6149;
	color: #FFFFFF;
	margin-left: 20px;
	font-family: "仿宋";
	font-size: 25px;
	font-weight: 700px;
	border: 0px;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;
}
nav>.right>ul>li>.user-icon{
	display: inline-block;
	width: 50px;
	height: 60px;
	text-align: center;
}
nav>.right>ul>li>a>img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-top: 10px;
}
/*登录注册*/
nav>.right>ul>li>.sign-in{
	font-family: "微软雅黑";
    font-size: 20px;
    color: #555555;
    margin-right: 20px;
}
nav>.right>ul>li>.sign-up{
	border-radius: 10px;
	font-family: "微软雅黑";
    font-size: 20px;
    color: #EC6149;
}

.a-font:hover{
	background-color: #CCCCCC;
}

#message-list{
	display: none;
	position: absolute;
	background-color: #FFFFFF;
    border: rgba(0, 0, 0, 0.3) solid 1px;
    width: 120px;
}
#message-list>li{
	list-style: none;
	height: 40px;
	line-height: 40px;
}
#message-list>li>a{
	font-family: "仿宋";
	font-size: 20px;
	font-weight: 500px;
	color: #262626;
	display: inline-block;
	height: 35px;
	width: 120px;
}

#userInfo{
	display: none;
	position: absolute;
	top: 60px;
	background-color: #FFFFFF;
    border: rgba(0, 0, 0, 0.3) solid 1px;
    width: 120px;
}
#userInfo>li{
	list-style: none;
	height: 40px;
	line-height: 40px;
}
#userInfo>li>a{
	font-family: "仿宋";
	font-size: 20px;
	font-weight: 500px;
	color: #262626;
	display: inline-block;
	height: 35px;
	width: 120px;
}